
.ComponentToPrint {
  background: #fafafa;
  display: flex;
  text-transform: uppercase;
  font-family: 'Asap Condensed', sans-serif;
  padding: 10px;
  margin: 10px;
}

.ComponentToPrint .logo {
  text-align: center;
  width: 355px;
  height: 520px;
  border: black 2px dotted;
}

.ComponentToPrint .logo h6 {
  font-size: xx-large;
}